aside
      .container
        .inside
          .line-ver1
            .line-ver2
              .line-ver3
                .wrapper.line-ver4
                  ul.list.col-1
                    li
                      h6 COMPANY
                    li
                      a(href='#') AboutUs
                    li
                      a(href='#') Training
                    li
                      a(href='#') Services
                    li
                      a(href='#') Careers
                    li
                      a(href='#') Contact Us
                  ul.list.col-2
                    li 
                      h6 PARTNER WITH US
                    li
                      a(href='#') Become our partner
                  ul.list.col-3
                    li 
                      h6 HELP AND SUPPORT
                    li
                      a(href='#') Support & Sales
                    li
                      a(href='#') Billing Support
                    li
                      a(href='#') Email Our Support Team
                    li
                      a(href='#') FAQ’s
                    li
                      a(href='#') User’s Guides
                    li
                      a(href='#') Report Spam
                  ul.list.col-4
                    li 
                      h6 CONNECT WITH US
                    li
                      a(href='#') Facebook
                    li
                      a(href='#') Twitter
                    li
                      a(href='#') Google+
                    li
                      a(href='#') Linked In
                  ul.list.col-5
                    li 
                      h6 CONTACT US
                    li
                      a(href='#') Live Support
                    li
                      a(href='#') Request a callback
    footer
      .container
        .inside
          | Global Education Services Pvt Ltd.
    script(type='text/javascript')
      Cufon.now();