header
 .container
   .header-box
     .left
       .right
         nav
           ul
             if pageName == 'Home'
              li.current
               a(href='/') Home
             else
              li
               a(href='/') Home
             if pageName == 'Training'
              li.current
               a(href='/Training') Training
             else
              li
               a(href='/Training') Training
             if pageName == 'LiveProjects'
              li.current
               a(href='/liveprojects') Live Projects
             else
              li
               a(href='/liveprojects') Live Projects
             if pageName == 'Services'
              li.current
               a(href='/services') Services
             else
              li
               a(href='/services') Services
             li
               a(href='/support') Live Support
             if pageName == 'ContactUs'
              li.current
               a(href='/contactus') ContactUs
             else
              li
               a(href='/contactus') ContactUs

         h1
           a(href='#')
             span Global
             | Edx
   span.top-info
     | 24/7 Sales & Support	+ 91 99 59 266129
     a(href='#') Hot Deals
     | l
     a(href='#') Search
   form#login-form(action='')
     fieldset
       span.text
         input(type='text', value='Username', onfocus='if(this.value==\'Username\'){this.value=\'\'}', onblur='if(this.value==\'\'){this.value=\'Username\'}')
       span.text
         input(type='password', value='Password', onfocus='if(this.value==\'Password\'){this.value=\'\'}', onblur='if(this.value==\'\'){this.value=\'Password\'}')
       a.login(href='#', onclick='document.getElementById(\'login-form\').submit()')
         span
           span Login
       span.links
         a(href='#') Forgot Password?
         br
         a(href='#') Register
