extends layout

block content
  // News Ticker
  link(href='jquery_news_ticker/styles/ticker-style.css', rel='stylesheet', type='text/css')
  script(src='jquery_news_ticker/includes/jquery.ticker.js', type='text/javascript')
  script(type='text/javascript')
    $(function () {
    $('#js-news').ticker({
    speed: 0.10,
    titleText: 'Latest News :'
    });
    });
  #page1
   .tail-top3
     section#content
      .container
       #faded
         ul.slides
           li
             img(src='images/slide-title1.gif')
             a(href='#')
               span
                 span Learn More
           li
             img(src='images/slide-title4.gif')
             a(href='#')
               span
                 span Learn More
           li
             img(src='images/slide-title3.gif')
             a(href='#')
               span
                 span Learn More
           li
             img(src='images/slide-title2.gif')
             a(href='#')
               span
                 span Learn More
         ul.pagination
           li.current
             a(href='#', rel='0')
               span Classroom Training
               small Get more information
           li
             a(href='#', rel='1')
               span Virtual Classroom
               small Get more information
           li
             a(href='#', rel='2')
               span Certifications
               small Get more information
           li
             a(href='#', rel='3')
               span Live Projects
               small Get more information
       ul#js-news.js-hidden
         li.news-item
           a(href='#') Demo on Hadoop by Industry experts on 27th November 2014.
         li.news-item
           a(href='#') Demo on Cloud Computing by Industry experts on 17th December 2013.
         li.news-item
           a(href='#') Demo on Big Data by Industry experts on 2th January 2014.
         li.news-item
           a(href='#') Demo on Node.JS by Industry experts on 17th November 2013.
       .inside
         .wrapper.row-1
           .box.col-1.maxheight
             .border-right.maxheight
               .border-bot.maxheight
                 .border-left.maxheight
                   .left-top-corner.maxheight
                     .right-top-corner.maxheight
                       .right-bot-corner.maxheight
                         .left-bot-corner.maxheight
                           .inner
                             h3 Cloud
                             ul.info-list
                               li
                                 a(href='#') 
                                   span Citrix
                               li
                                 a(href='#') 
                                   span VMWare
                               li
                                 a(href='#') 
                                   span Salesforce
                               li
                                 a(href='#') 
                                   span Amazon
                               li
                                 a(href='#') 
                                   span Microsoft
                               li
                                 a(href='#') 
                                   span OpenStack
                               li
                                 a(href='#') 
                                   span Red Hat
                             .aligncenter
                               a.link1(href='#')
                                 span
                                   span Learn More
           .box.col-2.maxheight
             .border-right.maxheight
               .border-bot.maxheight
                 .border-left.maxheight
                   .left-top-corner.maxheight
                     .right-top-corner.maxheight
                       .right-bot-corner.maxheight
                         .left-bot-corner.maxheight
                           .inner
                             h3 Big Data
                             ul.info-list
                               li
                                 a(href='#') 
                                   span Cloudera Hadoop
                               li
                                 a(href='#') 
                                   span IBM infosphere
                               li
                                 a(href='#') 
                                   span Cassandra
                               li
                                 a(href='#') 
                                   span Lucense, Nutch
                               li
                                 a(href='#') 
                                   span Hive, PIG
                               li
                                 a(href='#') 
                                   span Nutch
                               li
                                 a(href='#') 
                                   span MangoDB, NoSQL
                             .aligncenter
                               a.link1(href='#')
                                 span
                                   span Learn More
           .box.col-3.maxheight
             .border-right.maxheight
               .border-bot.maxheight
                 .border-left.maxheight
                   .left-top-corner.maxheight
                     .right-top-corner.maxheight
                       .right-bot-corner.maxheight
                         .left-bot-corner.maxheight
                           .inner
                             h3 Mobility
                             ul.info-list
                               li
                                 a(href='#') 
                                   span IOS
                               li
                                 a(href='#') 
                                   span Andriod
                               li
                                 a(href='#') 
                                   span Qt
                               li
                                 a(href='#') 
                                   span Siri
                               li
                                 a(href='#') 
                                   span Apple
                               li
                                 a(href='#') 
                                   span Windows Mobile
                               li
                                 a(href='#') 
                                   span jQuery
                             .aligncenter
                               a.link1(href='#')
                                 span
                                   span Learn More
           .box.col-4.maxheight
             .border-right.maxheight
               .border-bot.maxheight
                 .border-left.maxheight
                   .left-top-corner.maxheight
                     .right-top-corner.maxheight
                       .right-bot-corner.maxheight
                         .left-bot-corner.maxheight
                           .inner
                             h3 Web Track
                             ul.info-list
                               li
                                 a(href='#') 
                                   span Dotnet, Php
                               li
                                 a(href='#') 
                                   span JavaScript
                               li
                                 a(href='#') 
                                   span HTML5, bootstrap
                               li
                                 a(href='#') 
                                   span CSS3, JQuery
                               li
                                 a(href='#') 
                                   span Node.js, Backbone.js
                               li
                                 a(href='#') 
                                   span Scala, Jade
                               li
                                 a(href='#') 
                                   span Sencha
                             .aligncenter
                               a.link1(href='#')
                                 span
                                   span Learn More
         .inside1
           .wrap.row-2
             article.col-1
               h2 Solutions
               ul.solutions
                 li
                   img(src='images/icon1.gif')
                   p Managed Programs
                   a(href='#')
                     b Read More
                 li
                   img(src='images/icon2.gif')
                   p Private Group Training
                   a(href='#')
                     b Read More
                 li
                   img(src='images/icon3.gif')
                   p 24/7 Training Curriculum
                   a(href='#')
                     b Read More
                 li
                   img(src='images/icon4.gif')
                   p Blended Learning Options
                   a(href='#')
                     b Read More
             article.col-2
               ul
                li
                 h2 More Than Just a Training Provider, We're Your Training Partner
                 p
                   | Training should not be one-size-fits-all. While other companies may try to force you into their prepackaged curriculum or delivery methods, we work with you to understand your unique needs and develop a solution that's right for you. Selecting the right training provider is the first step to reaching, or even exceeding, your goals. Partner with us to develop your training solution, and enjoy options you won't find with other training providers.
                 ul
                  li 
                   h4 Managed Programs
                   p
                     | Our managed programs are designed to be both flexible and scalable, providing you with an optimal and worry-free training solution, whether you're training a local or a globally distributed audience.
                  li 
                   h4 Private Group Training
                   p
                     | Train large or small groups privately, efficiently, and cost effectively with our On-Site training. You'll receive expert instruction and tailored curriculum delivered to your facility, live over the Internet, or to the location of your choice.
                  li 
                   h4 24/7 Training Curriculum
                   p
                     | We have built a comprehensive curriculum of more than 1,500 IT and business skills courses with which to create your tailored solution. Our vast curriculum and content creation abilities are the result of our strong partnerships with industry-leading organizations and the key associations and memberships we hold. As a result, we've won numerous awards for our training.
                  li 
                   h4 Blended Learning Options
                   p
                     | Differing learning styles, training goals, student locations, and budgets often require a combination of instructor-led and self-paced learning. In fact, most of the managed programs we've developed with clients have included multiple delivery methods. For many of our certification training courses, we offer online mentoring, providing students extra time for and assistance with exam preparation.
               a.link2(href='#')
                 span
                   span Read More
             .clear