!!! 5
html(lang='en')
head
    title GlobalEdx
    // meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    script(type='text/javascript', src='js/sizzle.js')
    script(type='text/javascript', src='js/jquery-1.4.2.min.js')
    
    // Home
    link(rel='stylesheet', href='css/reset.css', type='text/css', media='all')
    link(rel='stylesheet', href='css/layout.css', type='text/css', media='all')
    link(rel='stylesheet', href='css/style.css', type='text/css', media='all')
    script(type='text/javascript', src='js/maxheight.js')
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/cufon-yui.js')
    script(type='text/javascript', src='js/cufon-replace.js')
    script(type='text/javascript', src='js/Myriad_Pro_300.font.js')
    script(type='text/javascript', src='js/Myriad_Pro_400.font.js')
    script(type='text/javascript', src='js/jquery.faded.js')
    script(type='text/javascript', src='js/jquery.jqtransform.js')
    script(type='text/javascript', src='js/script.js')
  body
    .tail-top2
      include header
      block content
    include footer
