!!! 5
html(lang='en')
head
    title GlobalEdx
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    // Services
    script(type='text/javascript', src='js/jquery.min.js')
    link(rel='stylesheet', href='css/Services/bootstrap.css')
    link(rel='stylesheet', href='css/Services/style.css')
    link(rel='stylesheet', href='css/Services/bootstrap-responsive.css')
    link(rel='stylesheet', href='css/Services/font-awesome.css')
    link(rel='stylesheet', href='css/Services/flexslider.css', type='text/css', media='screen')
    link(rel='stylesheet', href='css/Services/parallax-slider.css', type='text/css')
    link(rel='stylesheet', href='css/Services/default.css')
    // Header
    link(rel='stylesheet', href='css/reset.css', type='text/css', media='all')
    link(rel='stylesheet', href='css/layout.css', type='text/css', media='all')
    link(rel='stylesheet', href='css/style.css', type='text/css', media='all')
    script(type='text/javascript', src='js/maxheight.js')
    script(type='text/javascript', src='js/cufon-yui.js')
    script(type='text/javascript', src='js/cufon-replace.js')
    script(type='text/javascript', src='js/Myriad_Pro_300.font.js')
    script(type='text/javascript', src='js/Myriad_Pro_400.font.js')
    script(type='text/javascript', src='js/jquery.faded.js')
    script(type='text/javascript', src='js/jquery.jqtransform.js')
    script(type='text/javascript', src='js/script.js')
    // Slider ticker
    script(type='text/javascript')
      $(function(){
      $("#servicefaded").faded({
      speed: 1000,
      crossfade: true,
      autoplay: 2000,
      autopagination:false
      });
      $('#domain-form').jqTransform({imgPath:'jqtransformplugin/img/'});
      });
  body#page1(onload='new ElementMaxHeight();')
    .tail-top2
      include header
      block content
    include footer
