extends layout

block content
  link(rel='stylesheet', href='css/Services/bootstrap.css')
  link(rel='stylesheet', href='css/Services/style.css')
  link(rel='stylesheet', href='css/Services/bootstrap-responsive.css')
  link(rel='stylesheet', href='css/Services/font-awesome.css')
  link(rel='stylesheet', href='css/Services/flexslider.css', type='text/css', media='screen')
  link(rel='stylesheet', href='css/Services/parallax-slider.css', type='text/css')
  link(rel='stylesheet', href='css/Services/default.css')
  #page6(onload='new ElementMaxHeight();')
   .tail-top22
    section#content
     .container
       #servicefaded
         ul.slides
           li
             img(src='images/Services/slide1.jpg')
           li
             img(src='images/Services/slide2.jpg')
           li
             img(src='images/Services/slide3.jpg')
           li
             img(src='images/Services/slide1.jpg')
    section#content
     .container
      .headline
        h3 Our Product Services
      .row-fluid
        .span4
          .service.clearfix
            i.icon-resize-small
            .desc
              h2 Training
              p
                | Build Your Skills, Grow Your Career.
                | We offer hundreds of training courses on new technologies using classrom,
                | online and virtual classroom training models with emphasis on hands-on
                | practice, live projects implementations and project oriented training
                | for practical learning.
        .span4
          .service.clearfix
            i.icon-cogs
            .desc
              h2 Developement
              p
                | We are a professional Software development company; we offers product development
                | and other client based software development services in India and across the world.
                | Our products and developement solutions are designed to fit our clients business
                | requirements, to help them achieve their organizational goals and objectives.
        .span4
          .service.clearfix
            i.icon-plane
            .desc
              h2 Consulting
              p
                | We brings together key IT consulting services that address aspects of reducing cost,
                | increasing agility and enabling transformation. Our value proposition is based on a
                | confluence of business knowledge, deep hands-on technology skills and a focused approach
                | through the use of in-house methodologies, frameworks and tools.
      .headline
        h3 Our Client Services
      ul.thumbnails
        li.span3
          .thumbnail-style.thumbnail-kenburn
            .thumbnail-img
              .overflow-hidden
                img(src='images/Services/2.jpg', alt='')
              a.btn-more.hover-effect(href='#') read more +
            h7
              a.hover-effect(href='#') Content Development
            p
              | We research, write, gather, organize, and edit information for courses publications.
        li.span3
          .thumbnail-style.thumbnail-kenburn
            .thumbnail-img
              .overflow-hidden
                img(src='images/Services/3.jpg', alt='')
              a.btn-more.hover-effect(href='#') read more +
            h7
              a.hover-effect(href='#') Product Development
            p
              | We design to fit our clients business requirements, to help them achieve their organizational objectives.
        li.span3
          .thumbnail-style.thumbnail-kenburn
            .thumbnail-img
              .overflow-hidden
                img(src='images/Services/2.jpg', alt='')
              a.btn-more.hover-effect(href='#') read more +
            h7
              a.hover-effect(href='#') Classroom Training
            p
              | Classroom Training gives you hands-on, interactive learning with expert instructors through practice exercises.
        li.span3
          .thumbnail-style.thumbnail-kenburn
            .thumbnail-img
              .overflow-hidden
                img(src='images/Services/3.jpg', alt='')
              a.btn-more.hover-effect(href='#') read more +
            h7
              a.hover-effect(href='#') Online Training
            p
              | We use advanced technology in learning and education in order to provide best quality conent.
        li.span3
          .thumbnail-style.thumbnail-kenburn
            .thumbnail-img
              .overflow-hidden
                img(src='images/Services/9.jpg', alt='')
              a.btn-more.hover-effect(href='#') read more +
            h7
              a.hover-effect(href='#') Live Projects
            p
              | We offer various live projects during training and this approach uses bottom up model of learning.
        li.span3
          .thumbnail-style.thumbnail-kenburn
            .thumbnail-img
              .overflow-hidden
                img(src='images/Services/10.jpg', alt='')
              a.btn-more.hover-effect(href='#') read more +
            h7
              a.hover-effect(href='#') Placements
            p
              | On successful completion of the course, we offer various projects and placement assistent for career growth.
      .headline
          h3 Our Clients
      #clients-flexslider.flexslider.home.clients
        .flex-viewport(style='overflow: hidden; position: relative;')
          ul.slides(style='width: 3400%; transition-duration: 0.6s; transform: translate3d(-1039px, 0px, 0px);')
            li(style='width: 129px; float: left; display: block;')
              a(href='#')
                img(src='images/Services/hp_grey.png', alt='')
                img.color-img(src='images/Services/hp.png', alt='')
            li(style='width: 129px; float: left; display: block;')
              a(href='#')
                img(src='images/Services/igneus_grey.png', alt='')
                img.color-img(src='images/Services/igneus.png', alt='')
            li(style='width: 129px; float: left; display: block;')
              a(href='#')
                img(src='images/Services/vadafone_grey.png', alt='')
                img.color-img(src='images/Services/vadafone.png', alt='')
            li(style='width: 129px; float: left; display: block;')
              a(href='#')
                img(src='images/Services/walmart_grey.png', alt='')
                img.color-img(src='images/Services/walmart.png', alt='')
            li(style='width: 129px; float: left; display: block;')
              a(href='#')
                img(src='images/Services/shell_grey.png', alt='')
                img.color-img(src='images/Services/shell.png', alt='')
            li(style='width: 129px; float: left; display: block;')
              a(href='#')
                img(src='images/Services/natural_grey.png', alt='')
                img.color-img(src='images/Services/natural.png', alt='')
            li(style='width: 129px; float: left; display: block;')
              a(href='#')
                img(src='images/Services/aztec_grey.png', alt='')
                img.color-img(src='images/Services/aztec.png', alt='')
            li(style='width: 129px; float: left; display: block;')
              a(href='#')
                img(src='images/Services/gamescast_grey.png', alt='')
                img.color-img(src='images/Services/gamescast.png', alt='')
            li(style='width: 129px; float: left; display: block;')
              a(href='#')
                img(src='images/Services/cisco_grey.png', alt='')
                img.color-img(src='images/Services/cisco.png', alt='')
            li(style='width: 129px; float: left; display: block;')
              a(href='#')
                img(src='images/Services/everyday_grey.png', alt='')
                img.color-img(src='images/Services/everyday.png', alt='')
            li(style='width: 129px; float: left; display: block;')
              a(href='#')
                img(src='images/Services/cocacola_grey.png', alt='')
                img.color-img(src='images/Services/cocacola.png', alt='')
            li(style='width: 129px; float: left; display: block;')
              a(href='#')
                img(src='images/Services/spinworkx_grey.png', alt='')
                img.color-img(src='images/Services/spinworkx.png', alt='')
            li(style='width: 129px; float: left; display: block;')
              a(href='#')
                img(src='images/Services/shell_grey.png', alt='')
                img.color-img(src='images/Services/shell.png', alt='')
            li(style='width: 129px; float: left; display: block;')
              a(href='#')
                img(src='images/Services/natural_grey.png', alt='')
                img.color-img(src='images/Services/natural.png', alt='')
            li(style='width: 129px; float: left; display: block;')
              a(href='#')
                img(src='images/Services/gamescast_grey.png', alt='')
                img.color-img(src='images/Services/gamescast.png', alt='')
            li(style='width: 129px; float: left; display: block;')
              a(href='#')
                img(src='images/Services/everyday_grey.png', alt='')
                img.color-img(src='images/Services/everyday.png', alt='')
            li(style='width: 129px; float: left; display: block;')
              a(href='#')
                img(src='images/Services/spinworkx_grey.png', alt='')
                img.color-img(src='images/Services/spinworkx.png', alt='')
    script(type='text/javascript', src='js/Services/bootstrap.js')
    script(type='text/javascript', src='js/Services/jquery.js')
    script(type='text/javascript', src='js/Services/back-to-top.js')
    script(type='text/javascript', src='js/Services/app.js')
    script(type='text/javascript', src='js/Services/index.js')
    script(type='text/javascript')
      jQuery(document).ready(function() {
      App.initSliders();
      });
    
