extends layout

block content
  #page3
    .tail-top22
      section#content
        .container
          .inside.bot-indent
            #slogan
              .inside
                h2
                  span Course Catalog
                p
                  | GlobalEdx brings you courses in new technologies. The courses are taught by industry experts.
                  | Once you successfully complete the course, we connect you to opportunities. We have various
                  | levels offered for all the courses so that each course can be demarkated so that end user
                  | gets his value for the money.
            h2.extra Cloud Computing Stack
            .box.extra
              .border-right
                .border-bot
                  .border-left
                    .left-top-corner1
                      .right-top-corner1
                        .right-bot-corner
                          .left-bot-corner
                            .inner
                              .left-indent.line-ver1
                                .line-ver2
                                  .line-ver3
                                    .wrap.line-ver4
                                      article.col-1.indent
                                        h4 Cloud Computing
                                        ul.info-list1
                                          li 
                                           a(href='#') Cloud and Virtualization Essentials
                                          li 
                                           a(href='#') VMware vCenter
                                          li 
                                           a(href='#') VMware vCloud
                                          li 
                                           a(href='#') VMware vSphere
                                          li 
                                           a(href='#') VMware vFabric Administrator
                                          li 
                                           a(href='#') Citrix XenApp
                                          li 
                                           a(href='#') Citrix XenDesktop
                                          li 
                                           a(href='#') Citrix XenServer
                                          li 
                                           a(href='#') Citrix NetScaler
                                          li 
                                           a(href='#') Citrix XenMobile
                                          li 
                                           a(href='#') Microsoft Windows Azure
                                          li 
                                           a(href='#') Amazon Web Services Essentials
                                          li 
                                           a(href='#') Amazon - Developing on Amazon Web Services
                                          li 
                                           a(href='#') Amazon Web Services Administration
                                          li 
                                           a(href='#') RSA Cloud Security Fundamentals
                                          li 
                                           a(href='#') Salesforce Administration
                                          li 
                                           a(href='#') Salesforce for Developers
                                          li 
                                           a(href='#') Salesforce - Building Apps with Force.com
                                          li 
                                           a(href='#') Google App Engine
                                      article.col-2.indent
                                        h4.aligncenter Basic
                                        ul.info-list1.alt
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                      article.col-3.indent
                                        h4.aligncenter Intermediate
                                        ul.info-list1.alt
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                      article.col-4.indent
                                        h4.aligncenter Advanced
                                        ul.info-list1.alt
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                      article.col-5.indent
                                        h4.aligncenter Expert
                                        ul.info-list1.alt
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                      .clear
            h2.extra Big Data Stack
            .box.extra
              .border-right
                .border-bot
                  .border-left
                    .left-top-corner1
                      .right-top-corner1
                        .right-bot-corner
                          .left-bot-corner
                            .inner
                              .left-indent.line-ver1
                                .line-ver2
                                  .line-ver3
                                    .wrap.line-ver4
                                      article.col-1.indent
                                        h4 Big Data
                                        ul.info-list1
                                          li 
                                           a(href='#') Cloudera Administrator Training for Apache Hadoop
                                          li 
                                           a(href='#') Cloudera Developer Training for Apache Hadoop
                                          li 
                                           a(href='#') Cloudera Essentials for Apache Hadoop
                                          li 
                                           a(href='#') Cloudera Training for Apache HBase
                                          li 
                                           a(href='#') Cloudera Training for Pig, Hive, and Impala
                                          li 
                                           a(href='#') Cloudera Introduction to Data Science
                                          li 
                                           a(href='#') Nutch, Lucene and Solr
                                          li 
                                           a(href='#') MongoDB
                                          li 
                                           a(href='#') Redis
                                          li 
                                           a(href='#') Cassandra
                                          li 
                                           a(href='#') Dramel
                                          li 
                                           a(href='#') Data Science and Big Data Analytics
                                          li 
                                           a(href='#') Greenplum Architecture and Administration
                                      article.col-2.indent
                                        h4.aligncenter Basic
                                        ul.info-list1.alt
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                      article.col-3.indent
                                        h4.aligncenter Intermediate
                                        ul.info-list1.alt
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                      article.col-4.indent
                                        h4.aligncenter Advanced
                                        ul.info-list1.alt
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                      article.col-5.indent
                                        h4.aligncenter Expert
                                        ul.info-list1.alt
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                      .clear                              
            h2.extra Mobility Stack
            .box.extra
              .border-right
                .border-bot
                  .border-left
                    .left-top-corner1
                      .right-top-corner1
                        .right-bot-corner
                          .left-bot-corner
                            .inner
                              .left-indent.line-ver1
                                .line-ver2
                                  .line-ver3
                                    .wrap.line-ver4
                                      article.col-1.indent
                                        h4 Mobile Technologies
                                        ul.info-list1
                                          li 
                                           a(href='#') Comprehensive Study of Objective-C
                                          li 
                                           a(href='#') iOS Applications Development with the SDK 6.0
                                          li 
                                           a(href='#') iPad Fundamentals
                                          li 
                                           a(href='#') iPad Support & Deployment
                                          li 
                                           a(href='#') iPhone/iPad App Development with the SDK 6.0
                                          li 
                                           a(href='#') Publishing on iPad
                                          li 
                                           a(href='#') Windows CE
                                          li 
                                           a(href='#') Andriod
                                      article.col-2.indent
                                        h4.aligncenter Basic
                                        ul.info-list1.alt
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                      article.col-3.indent
                                        h4.aligncenter Intermediate
                                        ul.info-list1.alt
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                      article.col-4.indent
                                        h4.aligncenter Advanced
                                        ul.info-list1.alt
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                      article.col-5.indent
                                        h4.aligncenter Expert
                                        ul.info-list1.alt
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                      .clear
            h2.extra Web Applications Stack
            .box.extra
              .border-right
                .border-bot
                  .border-left
                    .left-top-corner1
                      .right-top-corner1
                        .right-bot-corner
                          .left-bot-corner
                            .inner
                              .left-indent.line-ver1
                                .line-ver2
                                  .line-ver3
                                    .wrap.line-ver4
                                      article.col-1.indent
                                        h4 Web Design and Development
                                        ul.info-list1
                                          li 
                                           a(href='#') Ruby On Rails
                                          li 
                                           a(href='#') Python
                                          li 
                                           a(href='#') Node.JS
                                          li 
                                           a(href='#') BackBone.JS
                                          li 
                                           a(href='#') HTML5, CSS3 and JavaScript
                                          li 
                                           a(href='#') PHP
                                          li 
                                           a(href='#') .NET Technologies.
                                          li 
                                           a(href='#') Scala
                                          li 
                                           a(href='#') Java web technologies
                                      article.col-2.indent
                                        h4.aligncenter Basic
                                        ul.info-list1.alt
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                      article.col-3.indent
                                        h4.aligncenter Intermediate
                                        ul.info-list1.alt
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                      article.col-4.indent
                                        h4.aligncenter Advanced
                                        ul.info-list1.alt
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                      article.col-5.indent
                                        h4.aligncenter Expert
                                        ul.info-list1.alt
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                      .clear
            h2.extra Programming Languages
            .box.extra
              .border-right
                .border-bot
                  .border-left
                    .left-top-corner1
                      .right-top-corner1
                        .right-bot-corner
                          .left-bot-corner
                            .inner
                              .left-indent.line-ver1
                                .line-ver2
                                  .line-ver3
                                    .wrap.line-ver4
                                      article.col-1.indent
                                        h4 Web Design and Development
                                        ul.info-list1
                                          li 
                                           a(href='#') C
                                          li 
                                           a(href='#') C++
                                          li 
                                           a(href='#') Java
                                          li 
                                           a(href='#') Design Patterns
                                      article.col-2.indent
                                        h4.aligncenter Basic
                                        ul.info-list1.alt
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                      article.col-3.indent
                                        h4.aligncenter Intermediate
                                        ul.info-list1.alt
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                      article.col-4.indent
                                        h4.aligncenter Advanced
                                        ul.info-list1.alt
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                      article.col-5.indent
                                        h4.aligncenter Expert
                                        ul.info-list1.alt
                                          li X INR
                                          li X INR
                                          li X INR
                                          li X INR
                                      .clear